* {
    margin: 0;
    padding: 0;
}
.container{
    color: #0C306C; 
}
.imgTopo {
    height: 100%;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.midle {
    display: block;
    margin-top: 25px;
    margin-left: 180px;
    margin-right: 180px;
    text-align: center;
    color: #0C306C;    
}
.ola {
    margin-left: 160px;
}
.hora {
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
}
.aprenda {
    text-align: center;
    margin-top: 20px;
}
.meio {
    margin-left: 180px;
    margin-top: 20px;
}
.condicao {
    text-align: center;
}
.botao {
    margin-left: 50%;
    margin-top: 35px;
}
.imgfooter {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
